  body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(180deg, #ffd1dc, #ffe6ee);
    font-family: Nunito, sans-serif;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    z-index: 5;
}

.header_text {
    font-size: 3em;
    color: #d32f2f;
}

.gif_container img {
    width: 300px;
}
